body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.destaque {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destaque h2 {
    color: #333;
}

.evento {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.evento-item {
    margin-bottom: 20px;
}

.evento-item h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}
	
	/* ... (código anterior) ... */

.evento-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Linha de separação */
    padding-bottom: 10px; /* Espaçamento entre os eventos */
}

.evento-item h3 {
    color: #333;
    margin-bottom: 5px; /* Espaçamento entre o título e as informações do evento */
}

.evento-item p {
    color: #666;
}

/* ... (código anterior) ... */

.cpf-mask {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cpf-mask:before {
    content: "___.___.___-__";
    color: #999;
    position: absolute;
    margin: 5px 0 0 5px;
    pointer-events: none;
}

.cpf-mask:focus:before {
    content: "";
}

.input-group {
    margin-bottom: 10px;
}

.input-item {
    display: inline-block;
    margin-right: 10px; /* Adicionei um espaçamento entre os campos */
}

.input-item label {
    display: block; /* Coloca a label em uma nova linha para melhor alinhamento */
}

